# To make this work on your own repo, see PR #2
name: Docker Image CI

on:
  push:
    branches:
      - testing
    paths:
      - '/docker_build/**'
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set Lowercase Owner Name
        run: |
          echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: '${{ github.repository_owner }}'

      - name: Build and push
        uses: docker/build-push-action@v5
        env:
          GHCR_REPO: ghcr.io/${{ env.OWNER_LC }}
          DOCKERHUB_REPO: ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.IMAGE_NAME }}
        with:
          context: ./docker_build
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.GHCR_REPO }}/${{ vars.IMAGE_NAME }}:bleeding,${{ env.DOCKERHUB_REPO }}:bleeding
          cache-from: type=gha
          cache-to: type=gha,mode=max
